.idea
.vscode
.aider
*.pyc
*/__pycache__/*
*/.directory
.directory
*/.ipynb_checkpoints/*
config.toml

tmp_*

# tex related files
*.log
*.toc
*.nav
*.tex~
*.aux
*.bbl
*.snm
*.synctex.gz
*.blg
*.bcf
*.run.xml
*.out
*.vrb
*.tex.backup
*.clo
*.idx


# shelve files

*.db.bak
*.db.dat
*.db.dir

# yaml file to temporarily paste yaml content from external source, to adapt indentation in steps of 2 spaces.
# VS code uses four spaces inside python files, even within multiline strings

tmp.yaml
